/* Empty. Add your own CSS if you like */

.districtsContainer {
    margin-top: 60px;
}

.search-bar {
    margin-top: 50px;
}

#map {
    margin-top: 20px;
    width:100%;
    height:65%;
}

.scroll {
    height:100%;
}